header{
	position: fixed;
	top:0;
	width:100%;
	right:0;
	background-color:lavenderblush;
	box-sizing:border-box;
	border-bottom:2px solid white;
}

#home{
	display: inline-block;
	float:left;
	margin: 20px 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 5px 10px;
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	color: black;
	border: 1px solid black;
}

#topText{
	margin-left: -100px;
	padding-left: -20px;
}

body {
	background-color: linen;
	font-size: 17px;
	font-family:monospace;
}

.pentaInfo{
  float: left;
  width: 50%;
  margin-left: 70px;
}

h2{
  padding-left: 150px;
  margin-left: 150px;
}

h4{

}

.imageLink{
	width:672px;
  height:378px;
  float: left;
}

.game{
	display: inline-block;
  float: left;
	margin: 25px;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.game:hover{
	background-color: rgb(240, 215, 225);
}






.footer-block{
	 display: grid;
	 grid-template-columns: 1fr 2fr 1fr;
}

.footerContent{
	text-align: center;
	text-decoration: none;
}

.bnt{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	color: black;
	padding: 20px;
	border: 1px solid black;
}

.resumeBnt{
	display: inline-block;
	margin-top: 25px;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.resumeBnt:hover{
	background-color: rgb(240, 215, 225);
}
